.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f0f0; /* 明るいグレーで背景を柔らかく */
  color: #333; /* 標準のテキスト色をキープ */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: #c6d1c9;
  color: #39453a;
  padding: 20px 0;
  text-align: center;
  font-size: 24px;
}
.headerLink {
  text-decoration: none; /* 下線を消す */
  color: inherit; /* 親要素の色を引き継ぐ */
}

.contentArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sideArea {
  width: 100%;
  max-width: 300px;
  margin: 10px 10px;
}


.main {
  background-color: #fff; /* メインエリアを白に */
  color: #4a4a4a; /* 灰色のテキスト */
  flex: 1;
  padding: 20px;
  margin: 10px 0px;
}

.mainArticle {
  margin-bottom: 20px;
}

.post h2 {
  background-color: #f5f5f5;
  margin-top: 70px;
}

.relatedNews {
  margin-top: 20px;
}

.relatedNews ul {
  list-style: none;
  padding: 0;
}

.relatedNews li {
  background-color: #e9ecef;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.footer {
  background-color: #c6d1c9;
  color: #39453a;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}

@media (max-width: 768px) {
  .contentArea {
    flex-direction: column;
  }

  .newsList, .main, .sidebar {
    max-width: none;
    margin-right: 0;
  }

  .sidebar {
    order: -1;
  }
}

.advertisementArea {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.newsHeader {
  position: relative;
  height: 400px; /* 画像の高さと一致させる */
  width: 100%; /* コンテナの幅を指定 */
  overflow: hidden; /* はみ出した画像を隠す */
}

.newsThumbnail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; /* コンテナの幅に合わせる */
}

.newsThumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* 画像がコンテナに収まるように調整 */
}

.newsTitle {
  position: absolute;
  bottom: 0; /* コンテナの下部に配置 */
  left: 0;
  width: 100%; /* タイトルの幅をコンテナの幅に合わせる */
  background-color: rgb(255 255 255 / 80%);
  color: #000000;
  padding: 10px 0;
  text-align: center;
  margin: 0;
  font-size: 30px;
}

.newsLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}


.newsList {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px; /* リスト全体のパディングを調整 */
}

.newsList .newsItem {
  display: flex;
  align-items: center;
  background-color: #fff; /* ニュース項目の背景を白に */
  color: #333; /* ニュース項目のテキスト色をダークグレーに */
  margin-bottom: 10px;
  padding: 0px 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  border: 1px solid #e0e0e0; /* 薄いグレーで境界線を追加 */
}

.relatedNews .newsItem {
  display: flex;
  align-items: center;
  background-color: #fff; /* ニュース項目の背景を白に */
  color: #333; /* ニュース項目のテキスト色をダークグレーに */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  border: 1px solid #e0e0e0; /* 薄いグレーで境界線を追加 */
}

.newsItem:hover {
  transform: translateY(-3px); /* ホバー時の動きを少し控えめにする */
}

.newsImage {
  width: 60px; /* 画像のサイズを小さくする */
  height: 60px;
  margin-right: 8px; /* テキストとの間隔を調整 */
  overflow: hidden;
  border-radius: 10%; 
}

.newsText {
  font-size: 14px; /* テキストのフォントサイズを小さくする */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* 長いテキストは省略記号で表示 */
}
