/* styles/NewsList.module.css */
/* .newsList {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
  }
  
  .newsItem {
    margin-bottom: 10px;
    line-height: 12px;
    font-size: 14px;
  }
   */